%br
#info
	%section{ :id => "infosection" }
		%article{ :class => "half"}
			%h2 Player Info
			%span= @user.name
			%br
			%span Minions: #{@user.minion_pool}
		%article{ :class => "half"}
			%h2 Team Info
			%span Team:	
			%span{ :style => "color:#{@my_team.color}; padding-left:0;"}= @my_team.name
			%br
			%span Minions #{@my_team_minion_count[1]}
		%article{ :class => "full"}
			%h2 Map Info
			%span Map Name: #{@game_map.name}
		- @areas.each do |area|
			%article{ :class => "half"}
				%h2 Area: #{area.name}
				%span Owner: #{Team.find(area.owner_id).name}

