%br
#info
	%h2 Player Info
	%ul
		%li= @user.name
		%li
			Minions: 
			=@user.minion_pool
		%li= @user.email
	%h2 Team Info
	%ul
		%li
			Team:
			%span{ :style => "color:#{@my_team.color};"}= @my_team.name
		%li 
			Minions:
			=@my_team_minion_count[1]
	%h2 Map Info
	%ul
		%li
			Name:
			= @game_map.name
		%li
			%h3 Area Info
			%ul{:style => 'padding-left:30px;'}
				- @areas.each do |area|
					%li
						#{area.name}
						%br
						Owner:
						=Team.find(area.owner_id).name

